.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.counter h1{
      font-size: 50px ;

}
.counter{
    text-align: center;
}
.counter h2{
     font-size:120px ;
     align-items: center;

}